@page "/about"
@rendermode InteractiveServer
<PageTitle>About Us</PageTitle>

<Container class="pt-5">

<Grid  Gap="Gap.Is5"  class="pt-3 d-flex flex-lg-row flex-column flex-sm-column flex-md-column " >
    <Column  ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile.Is12.OnTablet" style="background-color: rgb(18 18 20);border-radius: 20px;height: 60%;" class="py-3 ">
    <Image Source="images/hero.png" Width="Width.Rem(20)" class=" px-2 mx-auto d-block " />
    </Column>

@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
the text about the dev
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
     <Column  ColumnSize="ColumnSize.Is8.OnDesktop.Is12.OnMobile.Is12.OnTablet" style="background-color: rgb(18 18 20);border-radius: 20px;" class="py-5">
    <DisplayHeading TextAlignment="TextAlignment.Center" TextSize="TextSize.Heading1" TextWeight="TextWeight.Bold">I'm Bonnah John, A Frontend Developer</DisplayHeading>
    <br> 
    <Paragraph TextAlignment="TextAlignment.Justified" class="px-lg-5 px-2" TextColor="TextColor.Muted" TextSize="TextSize.Large">I am a Tenace TechZone frontend developer with a focus of on web and mobile application development. I have a diverse range of experience having a worked across various fields. <br>   <br>  Contrary to popular belief,lorem ipsum is not simply random text. It has a roots in a piece of classical latin literature from 45Bc,making it over 200years old. Richard McClintock, a Latin professor at Hampden-Sydner College in Virginia, Looked up one of the more obscure Latin words, consectetur, from a Lorem ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtables source.</Paragraph>
    </Column>
</Grid>

@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
expericence card about the dev
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

<Grid Rows="GridRows.Are1.OnDesktop" Margin="Margin.Is5.FromTop" Gap="Gap.Is3">
<Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.IsFull.OnTablet" style="background-color: rgb(18 18 20);border-radius: 20px;" class="py-4 px-5 me-lg-4 me-0">
<Text TextSize="TextSize.Large" TextWeight="TextWeight.SemiBold">Experience</Text>


 
    <Div>
           <br>
        <Icon Name="IconName.BabyCarriage" class="text-info fs-1"/>
          <br>
        <Text TextColor="TextColor.Muted">2021 - Present</Text>
       
        <br>
        <Text TextColor="TextColor.White" TextSize="TextSize.Large">Web Developer</Text>
           <br>
        <Text TextColor="TextColor.Muted">Html And Css</Text>
    </Div>
<Divider/>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
2 experience
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Div >
           <br>
        <Icon Name="IconName.Memory" class="text-warning fs-1"/>
          <br>
        <Text TextColor="TextColor.Muted">2021 - 2023</Text>
       
        <br>
        <Text TextColor="TextColor.White" TextSize="TextSize.Large">Web Developer</Text>
           <br>
        <Text TextColor="TextColor.Muted">Html , Css, Bootstrap, JavaScript, TailwindCss ,React js and Vue Js</Text>
    </Div>
<Divider/>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
3 experience
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Div>
           <br>
        <Icon Name="IconName.Grin" class="text-danger fs-1"/>
          <br>
        <Text TextColor="TextColor.Muted">2021 - 2022</Text>
       
        <br>
        <Text TextColor="TextColor.White" TextSize="TextSize.Large">Web Developer</Text>
           <br>
        <Text TextColor="TextColor.Muted">Html , Css, Bootstrap, JavaScript, TailwindCss and React js </Text>
    </Div>
<Divider/>
</Column>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
educaton left card about the dev
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
<Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.OnTablet.IsFull.OnMobile" style="background-color: rgb(18 18 20);border-radius: 20px;" class="py-4 px-5">
<Text TextSize="TextSize.Large" TextWeight="TextWeight.SemiBold">Education</Text>


 
    <Div >
           <br>
        <Icon Name="IconName.BabyCarriage" class="text-info fs-1"/>
          <br>
        <Text TextColor="TextColor.Muted">2018 - 2021</Text>
       
        <br>
        <Text TextColor="TextColor.White" TextSize="TextSize.Large">Armed Forces Senior High Technical School</Text>
           <br>
        <Text TextColor="TextColor.Muted">General Arts</Text>
    </Div>
<Divider/>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
2 experience
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Div >
           <br>
        <Icon Name="IconName.Memory" class="text-warning fs-1"/>
          <br>
        <Text TextColor="TextColor.Muted">2015 - 2018</Text>
       
        <br>
        <Text TextColor="TextColor.White" TextSize="TextSize.Large">Atimatim M/A Experimental Junior High School</Text>
           <br>
        <Text TextColor="TextColor.Muted">All Subject Ghana Education Service Urged Every Student To Study In the Jl</Text>
    </Div>
<Divider/>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
3 experience
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Div >
           <br>
        <Icon Name="IconName.Grin" class="text-danger fs-1"/>
          <br>
        <Text TextColor="TextColor.Muted">2020 - 2021</Text>
       
        <br>
        <Text TextColor="TextColor.White" TextSize="TextSize.Large">Web Developer</Text>
           <br>
        <Text TextColor="TextColor.Muted">W3 School Docs and Dev Docs </Text>
    </Div>
<Divider/>
</Column>
</Grid>

@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
what clients says
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
<Div  style="background-color: rgb(18 18 20);border-radius: 20px;" class="py-5 mt-5">
<Paragraph TextAlignment="TextAlignment.Center" TextColor="TextColor.Muted">Testimonials</Paragraph>
<Heading TextAlignment="TextAlignment.Center" Size="HeadingSize.Is1">What Clients Say!</Heading>

<Carousel @bind-SelectedSlide="@selectedSlide" Interval="6000">
    @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
first carousel
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
   <CarouselSlide Name="1">
    <Grid Rows="GridRows.Are1.OnDesktop.Are1.OnTablet" Margin="Margin.Is5.FromTop" Gap="Gap.Is3">
    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-4 py-3 px-3">
    <Image Source="images/auth.jpg" Border="Border.RoundedPill"/>
    <br>
      <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Financial planners help people to knowledge in about how to invest  and in save moneye the most efficient way eve plan ners help people tionlio know ledige in about how.</Text>
    <br> <br>
    <Heading Size="HeadingSize.Is4">Zonathon Doe</Heading>
    <Paragraph TextColor="TextColor.Muted">CEO & Founder T</Paragraph>
    </Column>
    
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
what clients says number 2
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-4 py-3 px-3">
    <Image Source="images/auth2.jpg" Border="Border.RoundedPill"/>
    <br>
      <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Financial planners help people to knowledge in about how to invest  and in save moneye the most efficient way eve plan ners help people tionlio know ledige in about how.</Text>
    <br> <br>
    <Heading Size="HeadingSize.Is4">Sampana Kulikuli</Heading>
    <Paragraph TextColor="TextColor.Muted">CEO & Founder Of Gcb3</Paragraph>
    </Column>
</Grid>
</CarouselSlide>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
second carousel
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

   <CarouselSlide Name="2">
    <Grid Rows="GridRows.Are1.OnDesktop.Are1.OnTablet" Margin="Margin.Is5.FromTop" Gap="Gap.Is3">
    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-4 py-3 px-3">
    <Image Source="images/auth2.jpg" Border="Border.RoundedPill"/>
    <br>
      <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Financial planners help people to knowledge in about how to invest  and in save moneye the most efficient way eve plan ners help people tionlio know ledige in about how.</Text>
    <br> <br>
    <Heading Size="HeadingSize.Is4">Joana Kwabena</Heading>
    <Paragraph TextColor="TextColor.Muted">CEO & Founder Web</Paragraph>
    </Column>
    
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
what clients says number 2
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-4 py-3 px-3">
    <Image Source="images/auth.jpg" Border="Border.RoundedPill"/>
    <br>
      <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Financial planners help people to knowledge in about how to invest  and in save moneye the most efficient way eve plan ners help people tionlio know ledige in about how.</Text>
    <br> <br>
    <Heading Size="HeadingSize.Is4">Adanse Bonnah Poku</Heading>
    <Paragraph TextColor="TextColor.Muted">CEO & Founder Of Fufuo</Paragraph>
    </Column>
</Grid>
</CarouselSlide>
</Carousel>
</Div>

</Container>

 @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm Repeat footer mmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
<Container>
  <Underneath/>
</Container>

 @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm  footer mmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
 <Footer/>
@code{
    private string selectedSlide="1";

}