@page "/service"
<PageTitle>Our Services</PageTitle>

<Container class="pt-5">

<Div style="background-color: rgb(18 18 20);border-radius: 20px;height: 60%;" class="py-5 mt-3">
<Paragraph TextAlignment="TextAlignment.Center" TextColor="TextColor.Muted">Services</Paragraph>
<DisplayHeading TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" Size="DisplayHeadingSize.Is4">Quality Service</DisplayHeading>

<Grid Rows="GridRows.Are1.OnDesktop.Are1.OnTablet" Margin="Margin.Is5.FromTop" Gap="Gap.Is3"  class=" px-lg-3 px-0 py-2 d-flex flex-lg-row flex-column flex-sm-column flex-md-column ">
    <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-lg-3 mx-2 py-3 px-4">
  
    <br>   <br> 
   <Icon Name="IconName.Globe" class="text-danger " IconSize="IconSize.x4"/>
    <br> <br> 
       <Heading Size="HeadingSize.Is4">Brand Identity Design</Heading>
        <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Bonnah gives you the blocks & kits you need to create a true website within minutes</Text>
 <br>  <br>   <br> 
    </Column>
    
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
service number 2
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-3 py-3 px-4">
    <br>   <br> 
    
    <Icon Name="IconName.Pen" class="text-info " IconSize="IconSize.x4"/>
    <br> 
    <br> 
      <Heading Size="HeadingSize.Is4">Website Design</Heading>
        <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Bonnah gives you the blocks & kits you need to create a true website within minutes</Text>
    
    
  
    </Column>
    @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
service number 3
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
    <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-3 py-3 px-4">
     <br>   <br> 
    
    <Icon Name="IconName.Desktop" class="text-warning " IconSize="IconSize.x4"/>
    <br> 
    <br> 
     <Heading Size="HeadingSize.Is4">Application Design</Heading>
        <br> 
    <Text TextSize="TextSize.Medium" TextColor="TextColor.Muted">Bonnah gives you the blocks & kits you need to create a true website within minutes</Text>
   
  
    </Column>
</Grid>
</Div>
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
pricing
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
<Div style="background-color: rgb(18 18 20);border-radius: 20px;height: 60%;" class="py-5 mt-3">
<Paragraph TextAlignment="TextAlignment.Center" TextColor="TextColor.Muted">Pricing</Paragraph>
<DisplayHeading TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" Size="DisplayHeadingSize.Is4">Flexible Pricing Plan</DisplayHeading>

<Grid Rows="GridRows.Are1.OnDesktop.Are1.OnTablet" Margin="Margin.Is5.FromTop" Gap="Gap.Is3"  class=" px-lg-3 px-0 py-2 d-flex flex-lg-row flex-column flex-sm-column flex-md-column ">
    <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-lg-3 mx-2 py-3 px-3 pb-4">
  
  @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
intro 1
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
  <Div Border="Border.Is1.Rounded" class="px-4 py-2">
      <br> 
       <Heading Size="HeadingSize.Is4">Basic</Heading>
        <br>   
      
        <Text TextSize="TextSize.Large" TextColor="TextColor.Muted">Have design ready to build? or small budget</Text>
   <br>  <br> 
   <Heading Size="HeadingSize.Is1" TextColor="TextColor.Danger">$15<Text TextSize="TextSize.Large" TextColor="TextColor.White">/Hour</Text></Heading>
  </Div>
    <br>   
 <UnorderedList >
    <UnorderedListItem TextSize="TextSize.Medium" >Need your wireframe</UnorderedListItem>
     <UnorderedListItem class="my-2" TextSize="TextSize.Medium">Design with Figma,Framer</UnorderedListItem>
      <UnorderedListItem TextSize="TextSize.Medium">Product Design</UnorderedListItem>
       <UnorderedListItem class="my-2" TextColor="TextColor.Muted" TextSize="TextSize.Medium">Digital Marketing</UnorderedListItem>
        <UnorderedListItem TextColor="TextColor.Muted" TextSize="TextSize.Medium">Custom Support</UnorderedListItem>
 </UnorderedList>
 <br> 
 <Button Color="Color.Danger" Size="Size.Large">Order Now</Button>
      
    </Column>
    
@* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
pricing number 2
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
   <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-lg-3 mx-2 py-3 px-3">
  
  @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
intro 1
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
  <Div Border="Border.Is1.Rounded" class="px-4 py-2">
      <br> 
       <Heading Size="HeadingSize.Is4">Standard</Heading>
        <br>   
      
        <Text TextSize="TextSize.Large" TextColor="TextColor.Muted">Not have any design? leave its to me</Text>
   <br>  <br> 
   <Heading Size="HeadingSize.Is1" TextColor="TextColor.Danger">$59<Text TextSize="TextSize.Large" TextColor="TextColor.White">/Hour</Text></Heading>
  </Div>
    <br>   
 <UnorderedList >
    <UnorderedListItem TextSize="TextSize.Medium" >Need your wireframe</UnorderedListItem>
     <UnorderedListItem class="my-2" TextSize="TextSize.Medium">Design with Figma,Framer</UnorderedListItem>
      <UnorderedListItem TextSize="TextSize.Medium">Product Design</UnorderedListItem>
       <UnorderedListItem class="my-2" TextColor="TextColor.Muted" TextSize="TextSize.Medium">Digital Marketing</UnorderedListItem>
        <UnorderedListItem TextColor="TextColor.Muted" TextSize="TextSize.Medium">Custom Support</UnorderedListItem>
 </UnorderedList>
 <br> 
 <Button Color="Color.Danger" Size="Size.Large">Order Now</Button>
    </Column>
    @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
pricing number 3
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
   <Column ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.IsFull.OnTablet" Border="Border.Is1.Rounded" class="mx-lg-3 mx-2 py-3 px-3">
  
  @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
intro 1
 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
  <Div Border="Border.Is1.Rounded" class="px-3 py-2">
      <br> 
       <Heading Size="HeadingSize.Is4">Gold</Heading>
        <br>   
      
        <Text TextSize="TextSize.Large" TextColor="TextColor.Muted">Have design ready to build? or small budget</Text>
   <br>  <br> 
   <Heading Size="HeadingSize.Is1" TextColor="TextColor.Danger">$100<Text TextSize="TextSize.Large" TextColor="TextColor.White">/Hour</Text></Heading>
  </Div>
    <br>   
 <UnorderedList >
    <UnorderedListItem TextSize="TextSize.Medium" >Website Design</UnorderedListItem>
     <UnorderedListItem class="my-2" TextSize="TextSize.Medium">Mobile Apps Design</UnorderedListItem>
      <UnorderedListItem TextSize="TextSize.Medium">Product Design</UnorderedListItem>
       <UnorderedListItem class="my-2" TextColor="TextColor.Muted" TextSize="TextSize.Medium">Digital Marketing</UnorderedListItem>
        <UnorderedListItem TextColor="TextColor.Muted" TextSize="TextSize.Medium">Custom Support</UnorderedListItem>
 </UnorderedList>
 <br> 
 <Button Color="Color.Danger" Size="Size.Large">Order Now</Button>
    </Column>
</Grid>
</Div>


 @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm Repeat footer mmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
<Container>
  <Underneath/>
</Container>

 @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm  footer mmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@
 <Footer/>
</Container>